#top-menu {
    background-color: #05C3DE !important;
}

#logo .home-link {
	background: no-repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAM0AAAAzCAYAAAA0JIwAAAAACXBIW…+rvDbSiWXT3e4uYEkURbkI5yTrfu+1zrUOuD+KooUA/z8AJEB2Xpmr9DgAAAAASUVORK5CYII=) !important;
	background-size: contain !important;
	background-position: 10px 0px !important;
	height: 36px !important;
	margin-top: 9px !important;
}